<div class="text-center">TODO - Aplication form goes here</div>
<div class="container-fluid p-4">
    <div class="row d-flex justify-content-center">
        <div class="col-8 text-center">
            <form action="/job/{{job['id']}}/apply" class="w-60" method="POST">
                <div class="form-floating mb-3">
                    <input required="true" name="full_name" type="text" class="form-control" id="floatingInputName" placeholder="Name">
                    <label for="floatingInputName">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input required="true" name="email" type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                    <label for="floatingInputEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input required="true" name="linkedin_url" type="text" class="form-control" id="floatingLinkedIn" placeholder="LinkedIn">
                    <label for="floatingLinkedIn">LinkedIn</label>
                </div>
                <div class="form-floating my-3">
                    <textarea name="education" class="form-control" placeholder="Leave your education" id="floatingTextareaEducation" style="height: 100px"></textarea>
                    <label for="floatingTextareaEducation">Education</label>
                </div>
                <div class="form-floating my-3">
                    <textarea name="work_experience" class="form-control" placeholder="Leave your work experience" id="floatingTextareaWork" style="height: 100px"></textarea>
                    <label for="floatingTextareaWork">Work Experience</label>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-lg my-4">Submit</button>
            </form>
        </div>
    </div>
</div>