{% include 'nav.html' %}
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-center py4">
            <h1 class="text-secondary">{{ title }}</h1>
        </div>
    </div>
    <img id="banner" src="{{ url_for('static', filename='img/banner.jpg')}}" />
    <div class="container text-center py-4">
        <h3 class="py-1">About us</h3>
        <p class="py-1 fs-5">Ullamco aute elit adipisicing laborum dolore aliquip ipsum. Veniam ex mollit consectetur ad sunt laboris quis esse tempor commodo sit. Occaecat dolore voluptate aute excepteur laboris officia id commodo commodo Lorem commodo do nisi. Sunt cillum culpa culpa ad consequat dolor occaecat incididunt cillum consequat Lorem velit. Deserunt Lorem ad velit non aliquip dolore velit do laborum proident minim minim ullamco. Eiusmod tempor est Lorem occaecat magna pariatur Lorem cupidatat dolore nisi sunt labore excepteur. Ad consequat proident eu proident ut magna aliqua.</p>
    </div>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 align-self-center py-2">
                <img class="rounded-4" src="{{ url_for('static', filename='img/people.jpeg')}}" width="100%"/>
            </div>
            <div class="col-md-6 align-self-center py-2">
                <p>Anim ex ad elit nisi pariatur do exercitation nostrud ullamco id mollit nostrud. Pariatur excepteur do ad commodo ea ipsum elit proident ex duis ad eiusmod. </p>
            </div>
        </div>
    </div>
    <div class="container text-center py-4">
    <h3> Jobs List</h3>
        {% for job in jobs %}
            {% include 'job_item.html' %}
        {% endfor%}
    </div>
    <div class="container text-center py-4">
        <a href="mailto:alejandrojhb84@gmail.com?subject=Question%20about%20My%20company%20name&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3Cyour%20question%20here%3E%0D%0A" 
            class="btn btn-primary px-4 py-3">Contact Us</a>
    </div>
{% include 'footer.html' %}