<div class="container-fluid p-2 w-60">
    <div class="card text-start">
        <h5 class="card-header">{{job['title']}}</h5>
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-6 text-start">
                    <p class="card-title"p><strong>Location: </strong> {{job['location']}}</p>
                    {% if 'salary' in job %}
                        <p class="card-text"><strong>Salary: </strong> ${{job['salary']}} USD</p>
                    {% endif %}
                </div>
                <div class="col-6 text-end align-self-center">
                    <a href="/job/{{job['id']}}" 
                        class="btn btn-outline-info middle">Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>